<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/header :: header}">
</head>
<body>

<form method="POST" action="/auth/registration" th:object="${user}">

    <div class="form-floating">
        <input type="text" class="form-control" id="firstName" placeholder="First name" name="firstName">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red">Имя содержит ошибки</div>
        <label for="firstName">Имя</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="lastName" placeholder="Last name" name="lastName">
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red">Фамилия содержит ошибки</div>
        <label for="lastName">Фамилия</label>
    </div>

    <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="E-mail" name="email">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">Email error</div>
        <label for="email">E-mail</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red">Пароль содержит ошибки</div>
        <label for="password">Пароль (6-20 символов)</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>

</form>
</body>
</html>