<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head th:replace="~{parts/header :: header}">
</head>
<body>
<div th:replace="~{parts/navbar :: nav}"></div>

<div class="container main">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:class="${breadCrumbsList == null ? 'breadcrumb-item active' : ''}"
                   th:href="@{/storage}">Storage</a>
            </li>
            <li class="breadcrumb-item" th:each="breadCrumb, iterStat : ${breadCrumbsList}">
                <a th:class="${iterStat.last ? 'breadcrumb-item active' : 'breadcrumb-item'}"
                   th:href="@{'storage?path=' + ${breadCrumb}}"
                   th:text="${breadCrumb.breadCrumbName}"></a>
            </li>
        </ol>
    </nav>

    <div class="col-auto mt-5">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#fileUploadModal">
            Upload file
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#folderUploadModal">
            Upload folder
        </button>

        <!-- File Upload Modal -->
        <div th:replace="~{parts/upload-file-modal :: file-upload-modal}"></div>
        <div th:replace="~{parts/upload-folder-modal :: folder-upload-modal}"></div>
    </div>

    <div th:if="${files}">
        <h6 class="mb-3">Folders</h6>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" th:each="file, fileStat : ${files}" th:if="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                    <!-- Folder Name -->
                    <div class="d-flex align-items-center w-75 position-relative">
                        <img alt="folder" style="width: 2rem" th:src="@{/img/folder.png}"/>
                        <span class="ms-2 d-block text-truncate" th:text="${file.objectName}"></span>
                        <a class="stretched-link" th:href="@{'storage?path=' + ${file.path}}"></a>
                    </div>

                    <!-- Folder Actions -->
                    <div>
                        <div class="dropdown">
                            <button aria-expanded="false" class="bg-white"
                                    data-bs-toggle="dropdown" id="folderDropdown"
                                    style="border: none; width: 2.5rem; :after" type="button">
                                <img class="w-50" th:src="@{/img/more.png}"/>
                            </button>

                            <ul aria-labelledby="folderDropdown" class="dropdown-menu">

                                <!-- Folder Rename -->
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#rename"
                                            th:attr="data-bs-target=|#rename-${fileStat.index}|">
                                        Rename
                                    </button>
                                </li>

                                <!-- Folder Delete -->
                                <li>
                                    <form th:action="@{/storage}" th:method="delete"
                                          th:object="${fileRequest}">
                                        <input th:name="path" th:value="${file.path}" type="hidden">
                                        <input th:name="username" th:value="${username}" type="hidden">
                                        <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                                        <button class="dropdown-item" type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Folder Rename Modal -->
                <div th:replace="~{parts/rename-modal :: rename}"></div>

            </div>
        </div>
    </div>

    <!-- Files -->
    <div class="mt-5" th:if="${files}">
        <h6 class="mb-3">Files</h6>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" th:each="file, fileStat : ${files}" th:unless="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                    <!-- File Name -->
                    <div class="d-flex align-items-center w-75 position-relative">
                        <img alt="file" style="width: 2rem" th:src="@{/img/file.png}"/>
                        <span class="ms-2 d-block text-truncate" th:text="${file.objectName}"></span>
                    </div>

                    <!-- File Actions -->
                    <div>
                        <div class="dropdown">
                            <button aria-expanded="false" class="bg-white"
                                    data-bs-toggle="dropdown" id="fileDropdown"
                                    style="border: none; width: 2.5rem; :after" type="button">
                                <img class="w-50" th:src="@{/img/more.png}"/>
                            </button>

                            <ul aria-labelledby="fileDropdown" class="dropdown-menu">

                                <!--File Download -->
                                <li>
                                    <form th:action="@{/storage/download}" th:method="get"
                                          th:object="${fileRequest}">
                                        <input th:name="path" th:value="${file.path}" type="hidden">
                                        <input th:name="username" th:value="${username}" type="hidden">
                                        <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                                        <button class="dropdown-item" type="submit">Download</button>
                                    </form>
                                </li>

                                <!-- File Rename -->
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#rename"
                                            th:attr="data-bs-target=|#rename-${fileStat.index}|">
                                        Rename
                                    </button>
                                </li>

                                <!-- File Delete -->
                                <li>
                                    <form th:action="@{/storage}" th:method="delete"
                                          th:object="${fileRequest}">
                                        <input th:name="path" th:value="${file.path}" type="hidden">
                                        <input th:name="username" th:value="${username}" type="hidden">
                                        <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                                        <button class="dropdown-item" type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- File Rename Modal -->
                <div th:replace="~{parts/rename-modal :: rename}"></div>

            </div>
        </div>
    </div>
</div>
<div th:replace="~{parts/footer :: footer}"></div>
</body>
</html>