<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head th:replace="template-part/header :: header">
</head>
<body>
<div th:replace="template-part/navigation-menu :: nav"></div>

<div class="container main">

    <div th:replace="template-part/files-page-top-control :: files-control"></div>

    <div class="files-list">
        <div class="col-auto mt-5">
            <h2>Cloud storage</h2>
        </div>
    </div>

    <ul class="list-group">
        <li th:each="obj : ${listObjects}" th:object="${obj}" class="list-group-item list-group-item-action
        d-flex justify-content-between align-items-center">
            <a style="text-decoration: none" th:href="*{url}" th:text="*{objectName}">Name</a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    . . .
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <button type="submit" class="dropdown-item" data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#renameModal'+file.idOnPage}">
                            Rename
                        </button>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <form th:action="@{/remove}" th:method="DELETE">
                        <li>
                            <input type="hidden" th:value="*{objectName}" name="objectName"/>

                            <button type="submit" class="dropdown-item">Delete</button>
                        </li>
                    </form>
                </ul>
            </div>
        </li>
    </ul>

    <div th:replace="template-part/renameForm::renameForm"></div>

</div>

<div th:replace="template-part/footer :: footer"></div>
</body>
</html>