<!DOCTYPE html>
<html lang="en">
<head th:replace="~{parts/header :: header}">
</head>
<body>
<div th:replace="~{parts/navbar :: nav}"></div>

<div th:if="${searchResults.isEmpty()}" class="container">
    <h2>Файлы с таким именем не найдены</h2>
    <div class="col-auto mt-5">
        <a th:href="@{/storage}" class="btn btn-primary">На главную</a>
    </div>
</div>

<div th:unless="${searchResults.isEmpty()}" class="container">
    <h2>Search results</h2>
    <hr class="mt-1">

    <div class="col-auto mt-5">
        <a th:href="@{/storage}" class="btn btn-primary">На главную</a>
    </div>

    <!-- Folders -->
    <div th:if="${searchResults}">
        <h6 class="mb-3">Folders</h6>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" th:each="file, fileStat : ${searchResults}" th:if="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                    <!-- Folder Name -->
                    <div class="d-flex align-items-center w-75 position-relative">
                        <img alt="folder" style="width: 2rem" th:src="@{/img/folder.png}"/>
                        <span class="ms-2 d-block text-truncate" th:text="${file.objectName}"></span>
                        <a class="stretched-link" th:href="@{'storage?path=' + ${file.path}}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Files -->
    <div class="mt-5" th:if="${searchResults}">
        <h6 class="mb-3">Files</h6>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div class="col" th:each="file, fileStat : ${searchResults}" th:unless="${file.isDir}">
                <div class="card flex-row p-2 align-items-center justify-content-between shadow-4-strong">

                    <!-- File Name -->
                    <div class="d-flex align-items-center w-75 position-relative">
                        <img alt="file" style="width: 2rem" th:src="@{/img/file.png}"/>
                        <span class="ms-2 d-block text-truncate" th:text="${file.objectName}"></span>
                    </div>

                    <!-- File Actions -->
                    <div>
                        <div class="dropdown">
                            <button aria-expanded="false" class="bg-white"
                                    data-bs-toggle="dropdown" id="fileDropdown"
                                    style="border: none; width: 2.5rem; :after" type="button">
                                <img class="w-50" th:src="@{/img/more.png}"/>
                            </button>

                            <ul aria-labelledby="fileDropdown" class="dropdown-menu">

                                <!--File Download -->
                                <li>
                                    <form th:action="@{/storage/download}" th:method="get"
                                          th:object="${fileRequest}">
                                        <input th:name="path" th:value="${file.path}" type="hidden">
                                        <input th:name="username" th:value="${username}" type="hidden">
                                        <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                                        <button class="dropdown-item" type="submit">Download</button>
                                    </form>
                                </li>

                                <!-- File Rename -->
                                <li>
                                    <button class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#rename"
                                            th:attr="data-bs-target=|#rename-${fileStat.index}|">
                                        Rename
                                    </button>
                                </li>

                                <!-- File Delete -->
                                <li>
                                    <form th:action="@{/storage}" th:method="delete"
                                          th:object="${fileRequest}">
                                        <input th:name="path" th:value="${file.path}" type="hidden">
                                        <input th:name="username" th:value="${username}" type="hidden">
                                        <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                                        <button class="dropdown-item" type="submit">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- File Rename Modal -->
                    <div th:replace="~{parts/rename-modal :: rename}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>