<div aria-hidden="true" class="modal fade" tabindex="-1" th:fragment="rename" th:id="|rename-${fileStat.index}|">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Переименование</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/storage}" th:id="|rename-form-${fileStat.index}|" th:method="put"
                      th:object="${StorageObjectRenameRequest}">
                    <div class="mb-3">
                        <input type="text" class="form-control" th:name="newPath" th:value="${file.objectName}">
                    </div>
                    <input th:name="path" th:value="${file.path}" type="hidden">
                    <input th:name="username" th:value="${username}" type="hidden">
                    <input th:name="objectName" th:value="${file.objectName}" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary"
                        th:attr="form=|rename-form-${fileStat.index}|">Переименовать
                </button>
            </div>
        </div>
    </div>
</div>